[mcu mega]
serial: /dev/ttyUSB1

[mpu9250]
i2c_mcu: mega


[resonance_tester]
accel_chip: mpu9250
probe_points:
    141,141,10  # an example

min_freq: 10
max_freq: 133
##  This parameter is used to determine which acceleration to use to
##  test a specific frequency: accel = accel_per_hz * freq. Higher the
##  value, the higher is the energy of the oscillations. Can be set to
##  a lower than the default value if the resonances get too strong on
##  the printer. However, lower values make measurements of
##  high-frequency resonances less precise. The default value is 75
##  (mm/sec).
accel_per_hz: 75
##  Determines the speed of the test. When testing all frequencies in
##  range [min_freq, max_freq], each second the frequency increases by
##  hz_per_sec. Small values make the test slow, and the large values
##  will decrease the precision of the test. The default value is 1.0
##  (Hz/sec == sec^-2).
hz_per_sec: 1

[input_shaper]
damping_ratio_x: 0.1
damping_ratio_y: 0.1