# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC


# See docs/Config_Reference.md for a description of parameters.

[include plr.cfg]
[include chroma_head.cfg]
[include kcm.cfg]
[include bed_mesh.cfg]
[include cp_macro.cfg]
[include input_shaper.cfg]
#[include mainsail.cfg]
#[include fluidd.cfg]
[include timelapse.cfg]
#[include ecm_1.cfg]
#[include ecm_2.cfg]
#[include ecm_3.cfg]
#[include ecm_4.cfg]

[exclude_object]

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[mcu]
serial:  /dev/serial/by-path/platform-ff5c0000.usb-usb-0:1.1:1.0-port0     #/dev/klipper_mcu
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_accel_to_decel:1500
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity:3

[virtual_sdcard] 
path:/home/mks/printer_data/gcodes

[pause_resume]

[display_status]

[idle_timeout]
gcode:_IDLE_TIMEOUT
timeout: 600

[mcu rpi]
serial: /tmp/klipper_host_mcu


#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    230, 230, 20  # an example
#accel_per_hz:50
#min_freq:1
#max_freq:100
#max_smoothing:0.2
#hz_per_sec:0.5

#[verify_heater extruder]
#max_error: 60
#check_gain_time:20
#hysteresis: 5
#heating_gain: 2

[verify_heater heater_bed]
max_error: 240
check_gain_time:180
hysteresis: 5
heating_gain: 2

[respond]

[stepper_x]
step_pin: PE2
dir_pin: PE0
enable_pin: !PE3
microsteps: 16
rotation_distance: 72
endstop_pin: ^PE15
position_endstop: -11
position_min: -11
position_max: 505
homing_speed: 120
step_pulse_duration:0.000002

[tmc2209 stepper_x]
uart_pin: PE1
run_current: 1.4
uart_address: 3

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
microsteps: 16
rotation_distance: 72
endstop_pin: ^PE13 
position_endstop: 3
position_min: 3
position_max: 502
homing_speed: 90
step_pulse_duration:0.000002

[tmc2209 stepper_y]
uart_pin: PB7
run_current: 1.5
uart_address: 3

[stepper_y1]
step_pin:PD7
dir_pin:PD0
enable_pin:!PB5
microsteps:16
rotation_distance:72
endstop_pin: ^PE13

[tmc2209 stepper_y1]
uart_pin:PD1
run_current:1.5 
uart_address:3

[stepper_z]
step_pin: PD15
dir_pin: !PD13
enable_pin: !PA12
microsteps: 16
rotation_distance: 4
endstop_pin:probe:z_virtual_endstop
position_max: 505
position_min: -10
homing_speed: 5

[tmc2209 stepper_z]
uart_pin:PD14
run_current:0.6
uart_address:3
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PD11
dir_pin: !PD9
enable_pin: !PD12
microsteps: 16
rotation_distance: 4
endstop_pin:probe:z_virtual_endstop

[tmc2209 stepper_z1]
uart_pin:PD10
run_current:0.6
uart_address:3
stealthchop_threshold: 999999

#[extruder]
#max_extrude_only_distance: 300.0
#max_extrude_cross_section:10
#full_steps_per_rotation: 200
#step_pin: cp_Head:PA9
#dir_pin: !cp_Head:PA8
#enable_pin: !cp_Head:PA10
#stepx
#microsteps: 16
#rotation_distance: 4.49223296
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: cp_Head:PA2
#sensor_type: NTC 100K MGB18-104F39050L32
#sensor_pin: cp_Head:PA1
#control: pid
#pid_Kp:41.325
#pid_Ki:1.887
#pid_Kd:226.252
#min_temp: 0
#max_temp: 300
#min_extrude_temp: 175

#[thermistor my_thermistor]
#temperature1:25
#resistance1:96000
#temperature2:150
#resistance2:1585.4
#temperature3:250
#resistance3:172.6

#[tmc2209 extruder]
#uart_pin: PE6
#run_current: 1.0
#uart_address:3
#interpolate: True

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# pid_Kp: 75.227
# pid_Ki: 0.807
# pid_Kd: 1748.382
pid_kp = 76.052
pid_ki = 0.949
pid_kd = 1522.939
min_temp: 0
max_temp: 90

#[probe]
#pin: cp_Head:PA3
#x_offset:20
#y_offset:-24
#speed: 200
#speed: 10
#samples: 2
#sample_retract_dist: 0.5
#lift_speed: 10
#samples_result: average
#samples_tolerance: 0.1
#samples_tolerance_retries: 10

[safe_z_home]
home_xy_position: 230,274
speed: 90
z_hop: 5                 # Move up 5mm
z_hop_speed: 5

#[bed_mesh]
#speed:1000                
#horizontal_move_z:5   
#mesh_min:22,26   
#mesh_max:488,476 
#probe_count:11,11
#algorithm: bicubic   
#bicubic_tension: 0.2
#split_delta_z: 0.0125
#mesh_pps:4,4
#move_check_distance: 5
#fade_start: 0
#fade_end: 10
#fade_target: 0

[z_tilt]
z_positions: 5, 274
             460, 274
points: 5, 274
        460, 274
speed: 200
horizontal_move_z: 5
retries: 20
retry_tolerance: .005





#[input_shaper]
#damping_ratio_x: 0.05
#damping_ratio_y: 0.1
#shaper_type_x = 3hump_ei
#shaper_freq_x = 52.4
#shaper_type_y = 2hump_ei
#shaper_freq_y = 25

#[bed_plate]
#bed_temp: 60

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 3.980
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 43.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.140000, -0.161250, -0.191250, -0.217500, -0.232500, -0.266250, -0.323750, -0.375000, -0.421250, -0.451250, -0.468750
#*# 	  -0.102500, -0.070000, -0.082500, -0.095000, -0.096250, -0.106250, -0.158750, -0.225000, -0.258750, -0.288750, -0.340000
#*# 	  -0.066250, -0.021250, -0.020000, -0.031250, -0.035000, -0.035000, -0.075000, -0.150000, -0.172500, -0.197500, -0.237500
#*# 	  -0.012500, 0.022500, 0.010000, -0.007500, -0.017500, -0.021250, -0.048750, -0.096250, -0.121250, -0.146250, -0.180000
#*# 	  -0.016250, 0.015000, 0.003750, -0.003750, -0.018750, -0.026250, -0.047500, -0.080000, -0.102500, -0.122500, -0.140000
#*# 	  -0.007500, 0.026250, 0.013750, -0.005000, -0.022500, -0.020000, -0.032500, -0.070000, -0.095000, -0.112500, -0.121250
#*# 	  -0.048750, -0.016250, -0.022500, -0.028750, -0.038750, -0.041250, -0.041250, -0.068750, -0.098750, -0.112500, -0.120000
#*# 	  -0.096250, -0.048750, -0.041250, -0.048750, -0.067500, -0.060000, -0.052500, -0.067500, -0.087500, -0.111250, -0.127500
#*# 	  -0.160000, -0.107500, -0.095000, -0.102500, -0.122500, -0.100000, -0.093750, -0.103750, -0.117500, -0.137500, -0.160000
#*# 	  -0.228750, -0.162500, -0.137500, -0.152500, -0.166250, -0.130000, -0.125000, -0.123750, -0.135000, -0.156250, -0.196250
#*# 	  -0.357500, -0.310000, -0.270000, -0.243750, -0.241250, -0.227500, -0.225000, -0.248750, -0.265000, -0.285000, -0.297500
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 45.0
#*# max_x = 476.01
#*# min_y = 39.0
#*# max_y = 477.0
